@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ==== FONTS ===========================================================================================
@import "fonts";
// ==== // FONTS ===========================================================================================

// ==== VARS ===========================================================================================
@import "vars";
// ==== // VARS ===========================================================================================

// ==== Normalize ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

//<MIXINE>===============================================================================================
@import "mixins.scss";
//</MIXINE>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

//<FANCYBOX>===============================================================================================
//@import "plagins/fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== PLAGINS ===========================================================================================
@import "plagins/swiper-bundle";
//@import "plagins/drift-basic";
// ==== // PLAGINS ===========================================================================================

// ==== FORM STYLE DEFAULT ===========================================================================================
@import "forms";
// ==== FORM STYLE DEFAULT ===========================================================================================

// ==== BORDER ===========================================================================================
//@import "../common/burger/burger";
// ==== BORDER ===========================================================================================

// ==== POPUP ===========================================================================================
@import "../common/popup/popup";
// ==== // POPUP ===========================================================================================

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 10px;
	height: 100%;
}
html,
body {
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 1.4rem;
	transition: opacity 0.8s ease;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;

	&.lock {
		overflow: hidden;
	}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.center {
	text-align: center;
}

._page {
	flex: 1 1 auto;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.container-lg {
	margin: 0 auto;
	padding: 0 80px;

	@media (max-width: $md1+px) {
		padding-left: 40px;
		padding-right: 40px;
	}

	@media (max-width: $md3+px) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@media (max-width: $md4+px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}
.container {
	max-width: 1550px;
	margin: 0 auto;
	padding: 0 40px;

	@media (max-width: $md3+px) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@media (max-width: $md4+px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.head-padding {
	padding-top: 100px;

	@media (max-width: $md3+px) {
		padding-top: 64px;
	}
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

// === title ========================================================================
.title-1 {
}
.title-2 {
	font-size: 44px;
	line-height: 1.227em;
	text-transform: uppercase;

	@media (max-width: 575.98px) {
		font-size: 24px;
		line-height: 29px;
	}
}

.title-3 {
	font-size: 30px;
	line-height: 1.23em;
}

.title-4 {
	font-size: 26px;
	line-height: 1.23em;

	@media (max-width: 575.98px) {
		font-size: 18px;
		line-height: 22px;
	}
}

.title-5 {
}
.title-6 {
}

.suptitle {
}
.subtitle {
}

.text {
}
// === and title ========================================================================

// === btn ========================================================================
.btn-default {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: $mainColor;
	text-align: center;
	min-height: 50px;
	padding: 10px 50px;
	border-radius: 100px;
	transition: all 0.3s ease;
	font-size: 16px;
	line-height: 1.2em;
	color: $textColorLight;
	cursor: pointer;
	align-self: flex-start;
	@media (min-width: 992px) {
		&:hover {
			background-color: rgba($mainColor, 0.9);
		}
	}

	@media (max-width: 575.98px) {
		font-size: 13px;
		padding: 8px 29px;
		min-height: 40px;
	}
}

button.btn-default {
}

// === and btn ========================================================================

.input {
}

.textarea {
}

.link {
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid rgba(#fff, 0.5);
	border-bottom: 2px solid #fff;
	animation: loaderRotate 0.8s linear infinite;
}
@keyframes loaderRotate {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	font-size: 16px;
	line-height: 34px;

	@media (max-width: 575.98px) {
		font-size: 13px;
		line-height: 22px;
	}

	& h1 {
	}
	& h2 {
	}
	& h3 {
		font-size: 30px;
		line-height: 1.23em;
		margin-bottom: 0.666em;

		@media (max-width: 575.98px) {
			font-size: 20px;
			line-height: 24px;
		}
	}
	& h4 {
		font-size: 26px;
		line-height: 1.23em;
		margin-bottom: 0.76em;

		@media (max-width: 575.98px) {
			font-size: 18px;
			line-height: 22px;
		}
	}

	& h5 {
	}
	& h6 {
	}

	& p {
		margin-bottom: 2.2em;
	}

	& ul {
	}

	& ol {
	}

	& figure {
		margin-bottom: 100px;
		margin-top: 98px;
		@media (max-width: $md3+px) {
			margin-bottom: 30px;
			margin-top: 30px;
		}
		&:first-child {
			margin-top: 0;
		}

		&:not(.multiple) {
			& img {
				height: 700px;

				@media (max-width: $md2+px) {
					height: 337px;
				}
				@media (max-width: 575.98px) {
					height: 152px;
				}
			}
		}

		&:not(.iframe) {
			@media (max-width: $md3+px) {
				margin-left: -30px;
				margin-right: -30px;
			}

			@media (max-width: $md4+px) {
				margin-left: -20px;
				margin-right: -20px;
			}
		}

		&.multiple {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			& img {
				flex: 0 1 calc(50% - 15px);
				width: calc(50% - 15px);
				margin-bottom: 30px;
				height: 480px;

				@media (max-width: $md2+px) {
					height: 226px;
				}

				@media (max-width: $md3+px) {
					flex: 0 1 calc(50% - 5px);
					width: calc(50% - 5px);
					margin-bottom: 10px;
				}

				@media (max-width: 575.98px) {
					height: 103px;
				}

				&:nth-child(3n) {
					flex: 0 1 100%;
					width: 100%;
				}
			}
		}

		&.iframe {
			height: 700px;
			position: relative;

			@media (max-width: $md2+px) {
				height: 337px;
			}
			@media (max-width: 575.98px) {
				height: 152px;
			}

			& iframe {
				position: absolute;
				top: 0;
				left: 50%;
				height: 100%;
				width: 100vw;
				transform: translateX(-50%);
			}
		}

		& img {
			display: block;
			object-fit: cover;
			width: 100%;
			height: auto;
		}
	}
}
// === and TEXT CONTETN BLOCK ========================================================================

// ==== BLOCKS =====================================================
@import "../common/header/header";
@import "../common/footer/footer";
@import "../common/promo/promo";
@import "../common/main-list/main-list";
@import "../common/projects-slider/projects-slider";
@import "../common/popup/popup-gallery";
@import "../common/article/article";
// ==== BLOCKS =====================================================

// ==== PAGES =====================================================
@import "pages/home";
@import "pages/portfolio";
@import "pages/project-detail";
@import "pages/news";
@import "pages/news-detail";
@import "pages/team";
// ==== AND PAGES =====================================================
