.projects-slider {
    & .swiper-container {
    }
    & .swiper-wrapper {
    }
    & .swiper-slide {
    }
}

.projects-slider-card {
    display: block;
    position: relative;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: $textColorLight;

    @media (max-width: 575.98px) {
        font-size: 16px;
        line-height: 20px;
    }

    @media (min-width: 992px) {
        &:hover {
            & .projects-slider-card__bg img {
                transform: scale(1.05);
            }
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        transition: all 2s ease;

        & img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 2s ease;
        }

        &:before {
            position: absolute;
            content: "";
            z-index: 2;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #1c1c1c 100%);
            mix-blend-mode: normal;
            opacity: 0.6;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__body {
        min-height: 400px;
        padding: 50px 50px 50px 80px;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media (max-width: $md1+px) {
            padding-left: 40px;
            padding-right: 40px;
        }

        @media (max-width: $md2+px) {
            min-height: 320px;
            padding: 50px 40px;
        }
        @media (max-width: $md3+px) {
            padding-left: 30px;
            padding-right: 30px;
        }
        @media (max-width: 575.98px) {
            min-height: 133px;
            padding: 20px 30px;
        }
        @media (max-width: $md4+px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &__title {
    }
}

.slider-btn {
    position: absolute;
    top: 50%;
    cursor: pointer;
    padding: 5px;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    opacity: 0.6;
    color: #fff;
    z-index: 3;
    font-size: 30px;

    @media (min-width: 992px) {
        &:hover {
            opacity: 1;
        }
    }

    @media (max-width: $md3+px) {
        font-size: 16px;
    }
}

.slider-btn-prev {
    left: 80px;
    transform: translateX(-5px);

    @media (max-width: $md1+px) {
        left: 40px;
    }
    @media (max-width: $md3+px) {
        left: 30px;
    }
    @media (max-width: $md4+px) {
        left: 20px;
    }

    &:before {
        font-family: "icomoon";
        content: "\e908";
    }
}
.slider-btn-next {
    right: 80px;
    transform: translateX(5px);
    @media (max-width: $md1+px) {
        right: 40px;
    }
    @media (max-width: $md3+px) {
        right: 30px;
    }
    @media (max-width: $md4+px) {
        right: 20px;
    }
    &:before {
        font-family: "icomoon";
        content: "\e909";
    }
}
